<mat-sidenav-container class="sidenav-container w-100">
  <mat-sidenav mode="side" opened>
    <img class="p-3 pt-4 mt-2 d-flex mx-auto align-items-center" width="50%" src="assets/img/ordore.png" alt="Ordore Logo" />
    <mat-nav-list class="mx-2">
      <mat-list-item class="mt-2" (click)="activeView = 'billing'" [class.active]="activeView === 'billing'">
      <div class="d-flex align-items-center">
        <mat-icon class="me-1">attach_money</mat-icon> Bill Dashboard
      </div>
      </mat-list-item>
      <mat-list-item class="mt-2" (click)="activeView = 'managebill'" [class.active]="activeView === 'managebill'">
        <div class="d-flex align-items-center">
        <mat-icon class="me-1">assignment</mat-icon> Manage Bill
        </div>
      </mat-list-item>
      <mat-list-item class="mt-2" (click)="onParcelOrderSelected()" [class.active]="activeView === 'orders'">
        <div class="d-flex align-items-center">
          <mat-icon class="me-1">local_shipping</mat-icon> Orders (Parcel)
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="activeView === 'billing'">
      <div class="headers d-flex align-items-center justify-content-between mb-4">
        <h2 class="m-0">Bill Dashboard</h2>
        <div class="d-flex align-items-center"> 
          <button (click)="logout()" class="lgout-button" mat-raised-button color="warn">Logout</button>
        </div>
      </div>
      <div class="container-fluid px-4">
        <div class="row">
          <div class="col-auto">
            <h2 class="m-0">Billing Statistics</h2>
          </div>
          <div class="col-auto">
            <button mat-stroked-button color="primary" (click)="picker.open()">
              {{ selectedDate ? (selectedDate | date) : 'Choose a date' }}
            </button>
            <mat-form-field style="width: 0; height: 0; visibility: hidden;">
              <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)">
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <!-- KPIs -->
        <div class="row mt-4">
          <div class="col-md-3">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Daily Revenue</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>{{ reportData.dailyRevenue | currency }}</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-3">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Monthly Revenue</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>{{ reportData.monthlyRevenue | currency }}</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-3">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Order Count</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>{{ reportData.orderCount }}</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-3">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Avg Order Value</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>{{ reportData.averageOrderValue | currency }}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <!-- <hr> -->

        <!-- Charts -->
        <div class="mt-4 mb-5">
          <div class="row mt-5">
            <div class="col-md-6">
              <h2>Revenue Breakdown</h2>
              <div style="height: 300px;">
                <canvas baseChart
                  [data]="revenueChartData"
                  [options]="barChartOptions"
                  [type]="'bar'">
                </canvas>
              </div>
            </div>
            <div class="col-md-6">
              <h2>Order Metrics Over Time</h2>
              <div style="height: 300px;">
                <canvas baseChart
                  [data]="orderChartData"
                  [options]="lineChartOptions"
                  [type]="'line'">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeView === 'managebill'">
      <div *ngIf="!selectedTable">
        <app-dining-area-overview 
          [tables]="tables" 
          (tableSelected)="onTableSelected($event)">
        </app-dining-area-overview>
      </div>
      <div *ngIf="selectedTable">
        <app-bill-view
          *ngIf="showOrderCheck"
          [tableOtp]="selectedTableOtp"
          [tableNumber]="selectedTableNumber"
          (backToOrderManagement)="onBackToOrderManagement()">
        </app-bill-view>
      </div>
    </div>
    <div class="ordersforbiller" *ngIf="activeView === 'orders'">
      <div class="headers d-flex align-items-center justify-content-between mb-4">  
        <div class="d-flex align-items-center">   
          <mat-icon (click)="onBackToOrderManagement()">keyboard_backspace</mat-icon>   
          <!-- <h2 class="m-0 mx-3">Bill View for Table {{tableNumber}}</h2>   -->
        </div>   
        <div class="d-flex align-items-center">     
          <button (click)="logout()" class="logout-button" mat-raised-button color="warn">Logout</button>   
        </div>
      </div> 
      <app-order-management
        [table]="parcelTable"
        (backToTableSelection)="activeView = 'billing'"
        (viewOrders)="onViewOrders($event)">
      </app-order-management>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
