<div class="headers d-flex align-items-center justify-content-between mb-4">
  <h2 class="m-0">Manage Bill</h2>
  <div class="d-flex align-items-center">
    <button (click)="onLogout()" class="logout-button" mat-raised-button color="warn">Logout</button>
  </div>
</div>
<div class="container-fluid px-4">
  <h2>Dining Area Overview</h2>
  <mat-tab-group animationDuration="0ms" class="pt-3 pb-4" style="background-color: #fff !important;">
    <mat-tab label="Dine In">
      <div class="table-grid mt-4" *ngIf="!(isLoading$ | async); else loading">
        <mat-card *ngFor="let table of dineInTables$ | async"
                  (click)="onTableSelect(table)"
                  [class.occupied]="table.isOccupied"
                  [class.has-orders]="table.hasOrders"
                  [class.payment-completed]="table.paymentCompleted"
                  [matTooltip]="getTableTooltip(table)">
          <mat-card-content>
            <img *ngIf="table.paymentCompleted" src="assets/img/paid.png" class="paid-seal animate__animated animate__bounceIn">
            <div class="table-info">
              <h2>Table {{table.number}}</h2>
              <p>Capacity: {{table.capacity}}</p>
              <p>OTP: {{table.otp}}</p>
              <!-- <mat-icon [class.occupied-icon]="table.isOccupied">
                {{table.isOccupied ? 'people' : 'person_outline'}}
              </mat-icon> -->
            </div>
            <button mat-icon-button color="warn" 
                    (click)="deleteTable(table, $event)"
                    [disabled]="table.isOccupied || table.hasOrders"
                    matTooltip="Delete Table">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Take Away">
      <div class="table-grid mt-4" *ngIf="!(isLoading$ | async); else loading">
        <mat-card *ngFor="let table of parcelTables$ | async"
                  (click)="onTableSelect(table)"
                  [class.occupied]="table.isOccupied"
                  [class.has-orders]="table.hasOrders"
                  [matTooltip]="getTableTooltip(table)">
          <mat-card-content>
            <div class="table-info">
              <h2>{{table.number}}</h2>
              <p>Capacity: {{table.capacity}}</p>
              <p>OTP: {{table.otp}}</p>
            </div>
            <button mat-icon-button color="warn" 
                    (click)="deleteTable(table, $event)"
                    [disabled]="table.isOccupied || table.hasOrders"
                    matTooltip="Delete Table">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>

  <ng-template #loading>
    <p>Loading tables...</p>
  </ng-template>
</div>