<div class="container-fluid">
  <div class="row bg-red text-dark p-2 px-1 align-items-center">
    <div class="col" style="line-height: 0.4;">
      <h2 class="text-danger m-0">MENU</h2>
      <ng-container *ngIf="userData$ | async as userData">
        <small class="m-0">CODE: {{ userData?.tableOtp }}</small>
      </ng-container>
    </div>
    <div class="col-auto text-end d-flex align-items-center">
      <button mat-raised-button color="primary" (click)="lookOrders();" class="mx-2">BILL</button>
      <mat-icon class="mx-2" style="width: 60px; color: #ecad00;" (click)="callWaiter()">pan_tool</mat-icon>
      <button mat-icon-button (click)="openSidenav()">
        <mat-icon class="animate__animated animate__rotateIn">settings_account_box</mat-icon>
      </button>
    </div>
  </div>

  <div class="sidenav" [ngClass]="{ 'open': isSidenavOpen }">
    <div class="sidenav-header">
      <mat-icon (click)="closeSidenav()">close</mat-icon>
    </div>

    <hr />

    <div class="sidenav-body">
      <h4 class="text-danger">Home</h4>
      <h4>Group Members</h4>
      <h4 (click)="lookOrders();">Your Bill</h4>
    </div>
    <button style="position: absolute; bottom: 28px; left: 22px; width: 82%;" mat-raised-button color="primary" class="d-flex mt-3" (click)="logout()">
      Logout
    </button>
  </div>

  <div class="row mt-3 mb-3 px-1 align-items-center animate__animated animate__fadeInLeft animate__faster">
    <div class="col">
      <input type="search" style="outline: 0;" [(ngModel)]="searchQuery" (input)="onSearch()"
        class="form-control ds-input" id="search-input" placeholder="Search..." dir="auto">
    </div>
    <div class="col-auto">
      <mat-slide-toggle [checked]="isVegetarian" (change)="toggleVegetarian()">
        VEG
      </mat-slide-toggle>
    </div>
  </div>

  <mat-tab-group class="animate__animated animate__fadeInRight animate__faster" #tabGroup (selectedIndexChange)="onTabChange($event)">
    <mat-tab  *ngFor="let category of categories"  [label]="category.name">
    </mat-tab>
  </mat-tab-group>

  <div class="menu-items mt-3 animate__animated animate__fadeInRight animate__faster">
    <ng-container *ngIf="getFilteredMenuItems() | async as filteredItems">
      <mat-card *ngFor="let item of filteredItems" class="p-0 mb-3">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <h3 class="mb-1"><strong>{{ item.name }}</strong></h3>
              <p>{{ item.description }}</p>
              <h4>₹{{ item.price }}</h4>
            </div>
            <div class="col-4">
              <img [src]="getImageUrl(item.imageUrl)" [alt]="item.name" class="img-fluid rounded">
              <div class="action-space d-flex justify-content-between align-items-center mt-2">
                <ng-container *ngIf="item.isInStock; else outOfStock">
                  <ng-container *ngIf="getCartItemQuantity(item) === 0; else quantityControl">
                    <button mat-raised-button color="warn" (click)="addToCart(item)">ADD</button>
                  </ng-container>
                  <ng-template #quantityControl>
                    <button mat-mini-fab color="warn" (click)="decreaseQuantity(item)">—</button>
                    <span>{{ getCartItemQuantity(item) }}</span>
                    <button mat-mini-fab color="warn" (click)="increaseQuantity(item)">＋</button>
                  </ng-template>
                </ng-container>
                <ng-template #outOfStock>
                  <button mat-raised-button disabled>OUT OF STOCK</button>
                </ng-template>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>

  <div class="fixed-bottom bg-danger text-white p-3 animate__animated animate__slideInUp animate__faster"
    *ngIf="getCartItemCount() > 0">
    <div class="row align-items-center" (click)="viewCart()">
      <div class="col-6 cart-item-desc">
        {{ getCartItemCount() }} Item{{ getCartItemCount() !== 1 ? 's' : '' }} | ₹{{ getTotalPrice() }}
      </div>
      <div class="col-6 text-end">
        <h3 class="m-0 text-white"><strong>VIEW CART</strong></h3>
      </div>
    </div>
  </div>
</div>