<div class="container-fluid">
  <div class="row bg-red text-dark p-2 px-1 align-items-center">
    <div class="col">
      <img width="30%" src="assets/img/ordore.png">
    </div>
    <div class="col-5 text-end d-flex align-items-center">
      <button mat-stroked-button color="primary" (click)="lookOrders();" class="mx-2">ORDERS</button>
      <button mat-icon-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>

  <div class="row mt-3 mb-3 px-1 align-items-center">
    <div class="col">
      <h2 class="text-danger m-0">MENU</h2>
    </div>
    <div class="col text-end">
      <mat-slide-toggle [checked]="isVegetarian" (change)="toggleVegetarian()">
        PURE VEG
      </mat-slide-toggle>
    </div>
  </div>

  <div class="row mt-3 mb-3 px-1 align-items-center">
    <div class="col">
      <input type="search" style="outline: 0;" [(ngModel)]="searchQuery" (input)="onSearch()" class="form-control ds-input" id="search-input" placeholder="Search..." 
      dir="auto">
    </div>
  </div>

  <mat-tab-group #tabGroup (selectedIndexChange)="onTabChange($event)">
    <mat-tab *ngFor="let category of categories" [label]="category">
    </mat-tab>
  </mat-tab-group>
  
  <div class="menu-items mt-3">
    <ng-container *ngIf="getFilteredMenuItems() | async as filteredItems">
      <mat-card *ngFor="let item of filteredItems" class="p-0 mb-3">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <h3 class="mb-1"><strong>{{ item.name }}</strong></h3>
              <p>{{ item.description }}</p>
              <h4>₹{{ item.price }}</h4>
              <p [ngClass]="{'text-success': item.isInStock, 'text-danger': !item.isInStock}">
                {{ item.isInStock ? 'In Stock' : 'Out of Stock' }}
              </p>
            </div>
            <div class="col-4">
              <img [src]="getImageUrl(item.imageUrl)" [alt]="item.name" class="img-fluid rounded">
              <div class="action-space d-flex justify-content-between align-items-center mt-2">
                <ng-container *ngIf="item.isInStock; else outOfStock">
                  <ng-container *ngIf="getCartItemQuantity(item) === 0; else quantityControl">
                    <button mat-raised-button color="warn" (click)="addToCart(item)">ADD</button>
                  </ng-container>
                  <ng-template #quantityControl>
                    <button mat-mini-fab color="warn" (click)="decreaseQuantity(item)">—</button>
                    <span>{{ getCartItemQuantity(item) }}</span>
                    <button mat-mini-fab color="warn" (click)="increaseQuantity(item)">＋</button>
                  </ng-template>
                </ng-container>
                <ng-template #outOfStock>
                  <button mat-raised-button disabled>OUT OF STOCK</button>
                </ng-template>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>

  <div class="fixed-bottom bg-danger text-white p-3 animate__animated animate__slideInUp animate__faster" *ngIf="getCartItemCount() > 0">
    <div class="row align-items-center" (click)="viewCart()">
      <div class="col-6 cart-item-desc">
        {{ getCartItemCount() }} Item{{ getCartItemCount() !== 1 ? 's' : '' }} Added
      </div>
      <div class="col-6 text-end">
        <h3 class="m-0 text-white"><strong>VIEW CART</strong></h3>
      </div>
    </div>
  </div>
</div>