.container {
    padding: 16px;
    max-width: 600px;
    margin: 0 auto;
  }
  .header {
    display: flex;
    align-items: center;
  }
  .header h2 {
    margin-left: 16px;
    color: #d32f2f;
  }
  .cart-items {
    margin-bottom: 12rem;
  }
  .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    background-color: rgb(245, 248, 250);
    padding: 16px;
    border-radius: 8px;
    border-bottom: 0.5px solid #ccc;
  }
  .item-details {
    flex: 1;
  }
  .item-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .item-image {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  .quantity-control {
    display: flex;
    align-items: center;
  }
  .quantity-control span {
    margin: 0 8px;
  }
  .total-bill {
    background-color: rgb(245, 248, 250);
    padding: 16px;
    border-radius: 8px;
    text-align: right;
    margin-bottom: 20px;
  }
  .order-button {
    width: 100%;
    height: 56px;
    font-size: 18px;
    font-weight: bold;
  }
  .empty-cart-ico{
    font-size: 34px;
    width: 32px;
    height: 32px;
  }
  .empty-cart-message {
    display: flex;
    justify-content: center;  /* Horizontally center the content */
    align-items: center;      /* Vertically center the content */
    height: 50vh;            /* Full height of the viewport */
  }
  .fixed-bottom-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 10px;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 16px 16px 42px 16px;
    z-index: 1000;
  }
 ::ng-deep{
  .action-space{
    background-color: #fff !important;
    color: #c80000 !important;
    height: 29px;
    .mdc-fab{
      background: transparent !important;
      color: #c80000 !important;
      width: 29px !important;
      height: 29px !important;
    }
  }
 }