<div class="container-fluid">
    <div class="row bg-red text-dark p-2 px-1 align-items-center">
      <div class="col align-items-center d-flex">
        <mat-icon (click)="goBack()">keyboard_backspace</mat-icon>
        <h2 class="m-0 px-2 text-danger">BILL</h2> 
      </div>
      <div class="col-auto text-end d-flex align-items-center">
        <button mat-icon-button (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>
    <div class="container p-0">
      <mat-spinner *ngIf="!orderLoaded" class="faster-spinner"></mat-spinner>
      <ng-container *ngIf="orders && orders.length > 0; else noOrders">
        <div class="confirmation-card m-0">
          <div class="card-body item-body p-3">
            <h2 class="mb-1">Customer Details</h2>
            <div class="order-container mb-3">
              <div class="d-flex justify-content-between">
                <h3 class="m-0">{{orders[0].customerName}}</h3>
                <h3 class="m-0">{{orders[0].phoneNumber}}</h3>
              </div>
            </div>
            <h2 class="mb-1">Orders</h2>
            <div *ngFor="let order of orders" class="order-container">
              <ng-container *ngFor="let item of order.items">
                <div class="d-flex justify-content-between">
                  <p class="m-0">{{ item.name }} x {{ item.quantity }}</p>
                  <p class="m-0">{{ item.price * item.quantity | currency: 'INR' }}</p>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="confirmation-card mt-0 pt-4" style="border-radius: 0;">
          <div class="card-body item-body p-3">
            <h2 class="mb-1">Total Bill</h2>
            <div class="dashed-separator dashed-separator-top"></div>
            <div class="wavy-border"></div>
            <div class="d-flex justify-content-between">
              <p class="m-0">Sub Total:</p>
              <p class="m-0">{{ subTotal() | currency: 'INR' }}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="m-0">Service Charge (5%):</p>
              <p class="m-0">{{ serviceCharge() | currency: 'INR' }}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="m-0">GST (5% on Food):</p>
              <p class="m-0">{{ gst() | currency: 'INR' }}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="m-0 font-weight-bold">Total:</p>
              <p class="m-0 font-weight-bold">{{ total() | currency: 'INR' }}</p>
            </div>
          </div>
        </div>
        <button mat-raised-button (click)="selectMethod();" color="warn" class="pay-button animate__animated animate__pulse animate__faster">PAY NOW</button>
      </ng-container>
      <ng-template #noOrders>
        <div class="no-orders-message text-center p-5">
          <mat-icon class="large-icon text-danger">restaurant_menu</mat-icon>
          <h3>No Orders Yet</h3>
          <p>Your order list is empty. Start by adding some delicious items to your order!</p>
        </div>
      </ng-template>
    </div>
  </div>