@use '@angular/material' as mat;

// Define a custom primary color directly
$custom-primary: mat.define-palette((
  50: #ffcdd2,
  100: #ef9a9a,
  200: #e57373,
  300: #ef5350,
  400: #C80000,
  500: #C80000,  // Your desired primary color
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: white,
    A400: white,
    A700: white,
  )
));

$custom-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

// Define the overall theme
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Apply the custom theme to all Material components
@include mat.all-component-themes($custom-theme);

// Override the primary color to #C80000
.mat-mdc-raised-button.mat-primary {
  --mdc-filled-button-container-color: #C80000;
}

.mat-mdc-form-field.mat-focused .mat-mdc-form-field-ripple {
  background-color: #C80000;
}

.mat-mdc-form-field.mat-focused .mat-mdc-form-field-label {
  color: #C80000;
}
.mat-mdc-tab-group {
  --mat-tab-header-active-label-text-color: #C80000; /* Active tab label color */
  --mat-tab-header-ink-bar-color: #C80000; /* Ink bar (underline) color */
}
.mat-mdc-mini-fab.mat-warn {
  --mdc-fab-small-container-color: #C80000 !important;
}
.mat-mdc-raised-button.mat-warn {
  --mdc-protected-button-container-color: #c80000!important;
}
.bg-danger {
  background-color: #c80000 !important;
}
.mdc-tab--active{
  background: #fff !important;
    margin: 6px !important;
    height: 36px !important;
    box-shadow: 0 3px 8px 0 rgba(13, 19, 35, .15) !important;
    border-radius: 5px;
}