<div class="container-fluid">
  <!-- Mobile view -->
  <div class="d-block d-md-none">
    <div class="row px-1 align-items-center">
      <div class="col px-0">
        <div class="row">
          <app-table-selection 
          *ngIf="!selectedTable && !showOrderCheck && !showOrderManagement" 
          [tables]="tables" 
          (tableSelected)="onTableSelected($event)"
          (otpRefreshRequested)="refreshOTP($event)">
        </app-table-selection>
        <app-order-management 
          *ngIf="selectedTable && showOrderManagement" 
          [table]="selectedTable"
          (backToTableSelection)="onBackToTableSelection()"
          (viewOrders)="onViewOrders($event)">
        </app-order-management>
        <app-ds-order-check
          *ngIf="showOrderCheck"
          [tableOtp]="selectedTableOtp"
          (backToOrderManagement)="onBackToOrderManagement()">
        </app-ds-order-check>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Desktop view (message) -->
  <div class="d-none d-md-flex flex-column justify-content-center align-items-center vh-100">
    <div class="text-center">
      <h1 class="m-1">Mobile View Only</h1>
      <h3>For the best experience, please use a smartphone to access the Dining Specialist interface.</h3>
      <button style="width: 150px;" class="btn btn-primary mt-4" (click)="logout()">Logout</button>
    </div>
  </div>
</div>