<div class="headers d-flex align-items-center justify-content-between mb-4">  
  <div class="d-flex align-items-center">   
    <mat-icon (click)="goBack()">keyboard_backspace</mat-icon>   
    <h2 class="m-0 mx-3">Bill View for Table {{tableNumber}}</h2>  
  </div>   
  <div class="d-flex align-items-center">     
    <button (click)="logout()" class="logout-button" mat-raised-button color="warn">Logout</button>   
  </div>
</div> 

<div class="container-fluid px-4">
  <div class="row">
    <div class="col-3 p-3 sticky-column" style="border-right: 1px solid #ccc;">
      <h3>Update Bill</h3>
      <form [formGroup]="billForm" (ngSubmit)="updateBill()">   
        <mat-form-field appearance="outline">
          <mat-label>Restaurant Name</mat-label>
          <input matInput formControlName="restaurantName">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Company Name</mat-label>
          <input matInput formControlName="companyName">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Address Line 1</mat-label>
          <input matInput formControlName="addressLine1">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Address Line 2</mat-label>
          <input matInput formControlName="addressLine2">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Address Line 3</mat-label>
          <input matInput formControlName="addressLine3">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Pincode</mat-label>
          <input matInput formControlName="pincode">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>GSTIN</mat-label>
          <input matInput formControlName="gstin">
        </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>Cashier Name</mat-label>
          <input matInput formControlName="cashierName">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" 
        [disabled]="!isFormValid() || paymentCompleted || billExists || !hasOrders()">
  {{ billExists ? 'Bill Exists' : (hasOrders() ? 'Update' : 'No Orders') }}
</button>
      </form>
    </div>
    <div class="col position-relative">
      <img *ngIf="paymentCompleted" src="assets/img/paid.png" class="paid-seal animate__animated animate__bounceIn">
      <div class="bill-container">
        <div class="bill">
          <div class="logo">≈≈≈</div>
          <div class="header">
            <div>{{ billForm.get('restaurantName')?.value }}</div>
            <div>{{ billForm.get('companyName')?.value }}</div>
            <div>{{ billForm.get('addressLine1')?.value }}</div>
            <div>{{ billForm.get('addressLine2')?.value }}</div>
            <div>{{ billForm.get('addressLine3')?.value }}</div>
            <div>{{ billForm.get('pincode')?.value }}</div>
            <div>GSTIN : {{ billForm.get('gstin')?.value }}</div>
          </div>
          <div class="divider"></div>
          <div>
            <div>Bill No: {{ billNumber }}</div>
            <div>Date: {{ currentDate | date:'dd/MMM/yy HH:mm' }}</div>
            <div>TableNo: {{ tableNumber || 'N/A' }} Pax: {{ selectedTable?.capacity || 'N/A' }}</div>
            <div>Steward: {{ orders[0]?.customerName?.includes('(DS)') ? orders[0].customerName : 'N/A' }}</div>
            <div>Guest: {{ !orders[0]?.customerName?.includes('(DS)') ? (orders[0]?.customerName || 'N/A') : 'N/A' }}</div>
          </div>
          <div class="divider"></div>
          <div class="items">
            <ng-container *ngIf="hasOrders(); else noOrders">
              <ng-container *ngFor="let order of orders">
                <ng-container *ngFor="let item of order.items">
                  <div class="item">
                    <div class="item-details">{{ item.quantity }} {{ item.name }}</div>
                    <div class="amount">{{ item.price * item.quantity | currency:'INR':'symbol':'1.2-2' }}</div>
                  </div>
                  <div class="item">
                    <div class="item-details">{{ item.quantity }} x {{ item.price | currency:'INR':'symbol':'1.2-2' }}</div>
                    <div class="amount"></div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-template #noOrders>
              <div class="no-orders-message">No orders found for this bill.</div>
            </ng-template>
          </div>
          <div class="divider"></div>
          <div class="total">
            <div class="item">
              <div>Total Amount</div>
              <div class="amount">{{ subTotal() | currency:'INR':'symbol':'1.2-2' }}</div>
            </div>
          </div>
          <div class="taxes">
            <div class="item">
              <div>SC 5%</div>
              <div class="amount">{{ serviceCharge() | currency:'INR':'symbol':'1.2-2' }}</div>
            </div>
            <div class="item">
              <div>GST 5%</div>
              <div class="amount">{{ gst() | currency:'INR':'symbol':'1.2-2' }}</div>
            </div>
            <div class="item">
              <div>Round Off</div>
              <div class="amount">{{ (total() - Math.floor(total())) | currency:'INR':'symbol':'1.2-2' }}</div>
            </div>
          </div>
          <div class="divider"></div>
          <div class="total">
            <div class="item">
              <div>Gross Amount</div>
              <div class="amount">{{ Math.floor(total()) | currency:'INR':'symbol':'1.2-2' }}</div>
            </div>
          </div>
          <div class="divider"></div>
          <div>
            <div>KOT NO: {{ kotNumber }}</div>
            <div>Total Items: {{ getTotalItems() }}</div>
            <div>UserID/Cashier: {{ billForm.get('cashierName')?.value }}</div>
          </div>
          <div class="signature">
            <div>Guest Signature</div>
          </div>
          <div class="footer">
            <div>Thank You visit again</div>
            <div>Guest Copy</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <button mat-raised-button color="warn" class="pay-button w-100" (click)="printBill()">Print</button>
      <div class="authorization-text mt-4">
        <mat-checkbox [(ngModel)]="isAuthorized">I authorize the payment of this bill</mat-checkbox>
        <button 
          mat-raised-button 
          color="warn" 
          (click)="onPaymentCompleted();"
          class="pay-button mt-2 w-100"  
          [disabled]="!isAuthorized || paymentCompleted">
          Payment Completed
        </button>
      </div>
      
    </div>
  </div>
</div>
<ng-template #noOrders>
  <div class="no-orders-message">
    <mat-icon>restaurant_menu</mat-icon>
    <h3>No Orders Yet</h3>
    <p>Order list is empty. Start by adding some delicious items to your order!</p>
  </div>
</ng-template>